<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Blogger</title>
  </head>
  <body>
    <header class="bg-cyan-900 text-white">
      <h1 class="text-5xl text-white p-5">Blogger</h1>
      <nav class="flex justify-end text-xl gap-5 px-5">
        <a
          class="hover:underline hover:text-cyan-100 px-5 py-2 cursor-pointer"
          href="/"
        >Home</a>
        <a
          class="hover:underline hover:text-cyan-100 px-5 py-2 cursor-pointer hover:scale-105"
          href="/dashboard"
        >Dashboard</a>
        {{#if logged_in}}
          <button
            id="logout"
            class="hover:underline hover:text-cyan-100 px-5 py-2 cursor-pointer"
          >Logout</button>
          <script src="/js/logout.js"></script>
        {{else}}
          <a
            class="hover:underline hover:text-cyan-100 px-5 py-2 cursor-pointer"
            href="/signup"
          >Login</a>
        {{/if}}
      </nav>
    </header>
    {{{body}}}
    <footer></footer>
  </body>
</html>